<div class="login-container">

  <h3 class="text-center">Recover Password</h3>
  <form id="formCookie">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input name="email" type="email" class="form-control" id="emailIUser" placeholder="My email" />
    </div>
    <div class="mn-4 text-center">
      <button id="sendEmail" type="submit" class="btn btn-primary">Send Email</button>
    </div>

  </form>

</div>
<script src="/js/recoverPassword.js"></script>