{{!-- <div class="login-container">

  <h3 class="text-center">Recover Password</h3>
  <form id="formCookie">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input name="email" type="email" class="form-control" id="emailIUser" placeholder="My email" />
    </div>
    <div class="mn-4 text-center">
      <button id="sendEmail" type="submit" class="btn btn-primary">Send Email</button>
    </div>

  </form>

</div>
<script src="/js/recoverPassword.js"></script> --}}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="login-container card p-4 my-5 shadow-sm">
        <h3 class="text-center mb-4">Recover Password</h3>
        <form id="formCookie">
          <div class="mb-3">
            <label for="emailIUser" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" id="emailIUser" placeholder="My email" required />
          </div>
          <div class="text-center">
            <button id="sendEmail" type="submit" class="btn btn-primary btn-lg">
              <i class="bi bi-envelope-fill"></i> Send Email
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/recoverPassword.js"></script>
